@media (max-width:767px) {
    .heroBannerRes {
        height: 400px;
    }

    .heroBannerImage {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

@media (max-width:1150px)and (min-width:768px) {
    .heroBannerRes {
        height: 500px;
    }

    .heroBannerImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
}

@media (min-width:1151px) {
    .heroBannerRes {
        height: 80vh;
    }

    .heroBannerImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

}